<h3>Cover Letters</h3>
  {{#if allCV}}
              <div id="features-wrapper">
                <div class="container">
                <div class="row">
      {{#each allCV}}
                    <div class="col-4 col-12-medium">

                        <!-- Box -->
                        <section class="box feature cv-box">
                            <div class="inner">
                                 <a href="/profile/coverLetter/{{this._id}}"></a><h3 class="cv-title">{{this.jobTitle}}</h3></a>
                                <p class="coverletter-overflow">{{this.coverLetter}}</p>
                                <a href="/profile/coverLetter/{{this._id}}">read more</a>
                            </div>
                        </section>
                                            </div>

      {{/each}}

                    

                    </div>
                </div>
            </div>
  {{else}}
    <p>No cover letters found.</p>
  {{/if}}