<!DOCTYPE html>
<html>

<head>
    <title>Cover Letter</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
<div class="tips-section">
    <h2 class="section-header">Tips and Recommendations</h2>
    <ul class="tips-list">
        <li class="tip-item">Tailor your cover letter for each job</li>
        <li class="tip-item">Highlight your relevant skills</li>
        <li class="tip-item">Show enthusiasm and passion</li>
        <li class="tip-item">Keep it concise and to the point</li>
        <li class="tip-item">Proofread and check for errors</li>
    </ul>
</div>

    <div class="cover-letter-container">
        <h1 class="cover-letter-header">Cover Letter for: <span class="job-title">{{coverLetter.jobTitle}}</span></h1>
        <div class="job-description-section">
            <h2 class="section-header">Job Description:</h2>
            <p class="job-description">{{coverLetter.jobDescription}}</p>
        </div>
        <div class="cover-letter-section">
            <h2 class="section-header">Cover Letter:</h2>
            <p class="cover-letter-content">{{coverLetter.coverLetter}}</p>
        </div>
{{#if deleteButton}}
                
                <button id="delete-button" class="delete-button">Delete</button>
                <a href="/profile/coverLetter/{{coverLetter._id}}/edit"><button type="submit" class="edit-button">Edit</button></a>
{{/if}}
        <div id="confirmation-popup" class="confirmation-popup">
            <div class="confirmation-content">
                <p>Are you sure you want to delete? You won't be able to recover the cover letter once deleted.</p>
                <form action="/profile/{{coverLetter._id}}/delete" method="post" class="none-style-form">
                <button id="confirm-delete" class="confirm-delete" type="submit">Yes, Delete</button>
                </form>
                <button id="cancel-delete" class="cancel-delete">No, Cancel</button>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="/js/coverLetterDelete.js"></script>
</body>



</html>