<body class="is-preload homepage">
    <div id="page-wrapper">

        <body>
            <h1>Generate cover letter</h1>
            {{#if warning}}
            <div class="warning-message">{{warning}}</div>
            <a href="/profile/{{user.username}}/edit">add now!</a>
            {{/if}}
            <form method="post" action="/profile/{{user.username}}/create" id="coverLetterForm">
                <label for="jobTitle">Job Title:</label>
                <input type="text" id="jobTitle" name="jobTitle" required>
                <br>
                <label for="jobDescription">Job Description:</label>
                <textarea id="jobDescription" name="jobDescription" required></textarea>
                <br>
                {{!-- <label for="jobExperience">Your Job Experience:</label>
                <input type="text" id="jobExperience" name="jobExperience" required> --}}
                <br>
                <button type="submit">Generate Cover Letter</button>
            </form>
            {{#if cvResponse}}
            <pre id="coverLetter"></pre>
            <div id="popup">
                <div id="popup-inner">
                    <span id="popup-close">&times;</span>
                    <h2>Cover Letter:</h2>
                    <pre id="popup-content">{{cvResponse}}</pre>
                    <button id="copyButton">Copy to Clipboard</button>
                    <button id="downloadButton">Download Cover Letter</button>
                    <form method="post" action="/profile/{{user.username}}/save">
                        <label for="public">Cover Letter Visibility</label>
                    <select name="public">
                        <option value="true">public</option>
                        <option value="false">private</option>
                    </select>                        
                    <button type="submit">Save Cover Letter</button>
                    </form>
                </div>

            </div>

                <script src="/js/coverLetter.js"></script>

        {{/if}}

        </body>

