<h1>Edit your Profile</h1>
{{#if message}}
<div class="warning-message">{{message}}</div>
{{/if}}
<form action="/profile/{{user.username}}/edit" method="post">
<label for="username">Username</label>
<input type="text" name="username" value="{{user.username}}">
<label for="email">E-Mail</label>
<input type="email" name="email" value="{{user.email}}">
<label for="password">Password</label>
<input type="password" name="password" value="{{user.password}}">
<label for="introduction">Your short introduction</label>
<textarea name="introduction" rows="4" cols="50">{{user.introduction}}</textarea>
<label for="jobExperience">Job Experience</label>
<textarea name="jobExperience" rows="4" cols="50">{{user.jobExperience}}</textarea>
<a href="/profile/{{user.username}}">Back to my Profile</a><button type="submit">Confirm</button>
</form>