<h1>Edit cover letter</h1>
{{#if message}}
<div class="warning-message">{{message}}</div>
{{/if}}


<form action="/profile/coverLetter/{{coverLetter._id}}/edit" method="post">
<label for="jobTitle">Job Title</label>
<input type="text" name="jobTitle" value="{{coverLetter.jobTitle}}">
<label for="jobDescription">Job Description</label>
<textarea name="jobDescription" rows="4" cols="50">{{coverLetter.jobDescription}}</textarea>
<label for="coverLetter">Cover Letter</label>
<textarea name="coverLetter" rows="4" cols="50">{{coverLetter.coverLetter}}</textarea>
<label for="public">Cover Letter Visibility</label>
                    <select name="public">
                        {{#if coverLetter.public}}
                        <option value="true" selected >public</option>
                        <option value="false">private</option>
                        {{else}}
                        <option value="true">public</option>
                        <option value="false" selected >private</option>
                        {{/if}}
                    </select>                
<a href="/profile/coverLetter/{{coverLetter._id}}">Back to cover letter</a><button type="submit">Confirm</button>
</form>